@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 18px;
  color: #121111;
  font-style: normal;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
}
