@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 18px;
  color: #121111;
  font-style: normal;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
}

main {
  padding: 11rem 1rem;
}

.page-title,
.page-content {
  padding: 1.5rem 0;
}

.page-title {
  font-size: 2.3em;
  font-weight: 700;
}

.page-content {
  font-size: 1em;
  line-height: 1.5;
}

@media (min-width: 768px) {
  main {
    padding: 11rem 4rem;
  }
}
